
a {
    color: #3A66A7;
}

a:hover {
    color: #1c3353;
}

.bg-primary {
    background-color: #3A66A7 !important;
}

.text-primary {
    color: #3A66A7 !important;
}

.social-icons .social-icon:hover {
    background-color: #3A66A7;
}

.tags {
    color: #868e96;
    font-style: italic;
}
